.clients {
  display: flex;
  padding: 94px 0 94px;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: 768px) { 
  
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    line-height: 1.17;
    } 
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
   
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
  &__item {
    color: $icon-color;
    border-radius: 4px;

    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 30px * 2) / 2);
    @media screen and (min-width: 768px) { 
      flex-basis: calc((100% - 30px * 3) / 3);
    }
    
  }
}

.clients__item .clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $icon-color;
  border: 2px solid $icon-color;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $accent-color;

    border-color: $accent-color;
    cursor: pointer;
    outline: none;
  }

  &:focus {
    color: $accent-color;
    border: 2px solid $accent-color;
    outline: none;
  }
}

.clients__item .icon:focus {
  fill: $accent-color;
}

.clients__item .clients__icon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
  fill: currentColor;
}