.hero {
  min-height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/bg-hero.mobile@2x-min.jpg');
  }

  @media screen and (min-width: 768px) {
    min-height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/bg-hero.tablet@1x-min.jpg');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/bg-hero.tablet@2x-min.jpg');
  }

  @media screen and (min-width: 1200px) {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/bg-hero.desktop@1x-min.jpg');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/bg-hero.desktop@2x-min.jpg');
  }
    }
     
  }

  &-title {
    max-width: 360px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: $secondary-bg-color;

    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero > button {
  min-height: 50px;
  color: #fff;
}

.button.primary {
  padding: 10px 24px;
  color: $secondary-bg-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-color: $accent-color;
  align-items: center;
  letter-spacing: 0.06em;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
