
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $primary-white-color: #f5f5f5;
    $hero-bg-color: #2f303a;
    $secondary-bg-color: #ffffff;
    $third-bg-color: #f5f4fa;
    $first-logo-color: #000;
    $link-color: rgba(255, 255, 255, 0.6);
    $icon-color: #afb1b8;
  

